html{
    font-family: Roboto, Helvetica, Arial;
    background-color: white;
}

.nav-link,.navbar,.nav-item,.navbar-nav,.navbar-brand{
    color:white;
}

a:hover{
    color:none;
}

.h1{
    padding:50px;
}

.navbar{
    background-image: linear-gradient(to bottom, rgba(255,111,85,1), rgba(255,111,85,.4));
}

.jumbotron{
    background-color: white;
}

.row{
    padding:40px;
}