html{
    font-family: Roboto, Helvetica, Arial;
    background-color: white;
}

.nav-link,.navbar,.nav-item,.navbar-nav,.navbar-brand{
    color:white;
}

a:hover{
    color:none;
}

.h1{
    padding:50px;
}

.navbar{
    background-color:rgba(255, 111, 85);
}

.jumbotron{
    background-color: white;
}